# Домашнее задание к лекции "Статистика. Практика"

## Задание 1

Вернемся к [набору данных о видеоиграх](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/video_games_sales.csv).

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?  
2) Критикам нравятся больше игры на PC или на PS4?  
3) Критикам больше нравятся стрелялки или стратегии?  

Для каждого вопроса:
- сформулируйте нулевую и альтернативную гипотезы;
- выберите пороговый уровень статистической значимости;
- опишите полученные результаты статистического теста.

In [1]:
import pandas as pd
from scipy import stats as st

In [2]:
df = pd.read_csv('video_games_sales.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55792 entries, 0 to 55791
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            55792 non-null  int64
 1   Name            55792 non-null  object
 2   basename        55792 non-null  object
 3   Genre           55792 non-null  object
 4   ESRB_Rating     23623 non-null  object
 5   Platform        55792 non-null  object
 6   Publisher       55792 non-null  object
 7   Developer       55775 non-null  object
 8   VGChartz_Score  0 non-null      float64
 9   Critic_Score    6536 non-null   float64
 10  User_Score      335 non-null    float64
 11  Total_Shipped   1827 non-null   float64
 12  Global_Sales    19415 non-null  float64
 13  NA_Sales        12964 non-null  float64
 14  PAL_Sales       13189 non-null  float64
 15  JP_Sales        7043 non-null   float64
 16  Other_Sales     15522 non-null  float64
 17  Year            54813 non-null  float64
 18  Last_Update     9186 non-null   object
 19  url             55792 non-null  object
 20  status          55792 non-null  int64
 21  Vgchartzscore   799 non-null    float64
 22  img_url         55792 non-null  object
dtypes: float64(11), int64(2), object(10)
memory usage: 9.8+ MB

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,10.0,...,NaN,NaN,NaN,NaN,1985.0,NaN,http://www.vgchartz.com/game/6455/super-mario-...,1,NaN,/games/boxart/8972270ccc.jpg
2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,8.2,...,NaN,NaN,NaN,NaN,2008.0,11th Apr 18,http://www.vgchartz.com/game/6968/mario-kart-w...,1,8.7,/games/boxart/full_8932480AmericaFrontccc.jpg
3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,...,NaN,NaN,NaN,NaN,2017.0,13th Nov 18,http://www.vgchartz.com/game/215988/playerunkn...,1,NaN,/games/boxart/full_8052843AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg

In [3]:
# 1) Как критики относятся к спортивным играм?

df_sport = df[ df['Genre'] == 'Sports']
df_sport = df_sport[['Genre', 'Critic_Score']].dropna()
df_sport

        Genre  Critic_Score
0      Sports           7.7
4      Sports           8.0
16     Sports           7.9
17     Sports           8.0
68     Sports           8.3
...       ...           ...
50561  Sports           5.0
50730  Sports           9.2
50731  Sports           3.6
50840  Sports           4.0
51761  Sports           9.1

[688 rows x 2 columns]

In [4]:
# средняя оценка по всем жанрам:
df.Critic_Score.mean()

7.21370869033052

In [5]:
# гипотезы:
# H0: сердняя оценка спортивным играм >= 7, критикам нравятся спортивные игры
# H1: сердняя оценка спортивным играм < 7, критикам не нравятся спортивные игры
# уровень значимости: 0.05


alpha = 0.05
result = st.ttest_1samp(df_sport['Critic_Score'], 7)
print(result)

if (result.statistic < 0) & (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, средняя оценка критиков меньше 7')
else:
    print('Не отвергаем нулевую гипотезу, средняя оценка критиков больше 7')

Ttest_1sampResult(statistic=5.197156914436623, pvalue=2.671410902970997e-07)
Не отвергаем нулевую гипотезу, средняя оценка критиков больше 7

### Вывод: с большой достоверностью мы можем говорить, что спортивные игры критикам нравятся, их средняя оценка выше 7

In [6]:
# 2) Критикам нравятся больше игры на PC или на PS4?

df_platform = df[ (df['Platform'] == 'PC') | (df['Platform'] == 'PS4')]
df_platform = df_platform[['Platform', 'Critic_Score']]
df_platform.head()

   Platform  Critic_Score
3        PC           NaN
9        PC          10.0
20      PS4           9.7
22       PC           NaN
34      PS4           NaN

In [7]:
# гипотезы:
# H0: средняя оценка для игр на PC и PS4 одинаковая
# H1: средняя оценка для игр на PC и PS4 разная
# уровень значимости: 0.05


alpha = 0.05
result = st.ttest_ind(df[ df['Platform'] == 'PC' ]['Critic_Score'].dropna(), df[ df['Platform'] == 'PS4' ]['Critic_Score'].dropna(), equal_var=False)
print(result)

if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, средняя оценка разная')
else:
    print('Не отвергаем нулевую гипотезу, средняя оценка схожая')

Ttest_indResult(statistic=-2.7394476056351627, pvalue=0.006931808250254211)
Отвергаем нулевую гипотезу, средняя оценка разная

### Вывод: с большой долей достоверности можем утверждать, что средние оценки разные и так как statistic < 0, то средняя оценка критиков по играм на PC меньшем, чем на PS4, следовательно критикам игры на PS4 нравятся больше.

In [8]:
# 3) Критикам больше нравятся стрелялки или стратегии?

df_genre = df[ (df['Genre'] == 'Shooter') | (df['Genre'] == 'Strategy')]
df_genre = df_genre[['Genre', 'Critic_Score']]
df_genre

         Genre  Critic_Score
3      Shooter           NaN
10     Shooter           NaN
34     Shooter           NaN
36     Shooter           9.3
40     Shooter           8.7
...        ...           ...
55770  Shooter           NaN
55782  Shooter           NaN
55783  Shooter           NaN
55784  Shooter           NaN
55785  Shooter           NaN

[7852 rows x 2 columns]

In [9]:
# гипотезы:
# H0: средняя оценка для стрелялок и стратегий одинаковая
# H1: средняя оценка для стрелялок и стратегий разная
# уровень значимости: 0.05


alpha = 0.05
result = st.ttest_ind(df[ df['Genre'] == 'Shooter' ]['Critic_Score'].dropna(), df[ df['Genre'] == 'Strategy' ]['Critic_Score'].dropna(), equal_var=False)
print(result)

if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, средняя оценка разная')
else:
    print('Не отвергаем нулевую гипотезу, средняя оценка схожая')

Ttest_indResult(statistic=-1.6073949711166526, pvalue=0.10838786414223071)
Не отвергаем нулевую гипотезу, средняя оценка схожая

### Вывод: с вероятностью 95% стратегии нравятся критикам так же как и стрелялки

## Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные [здесь](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/spam.csv)) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Привидите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:  

```
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=cname)
```

Можете поэкспериментировать с параметрами [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html);  
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите `random_state=42`. Используйте [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html);  
7) Постройте модель [логистической регрессии](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html), укажите `random_state=42`, оцените ее точность на тестовых данных;  
8) Опишите результаты при помощи [confusion_matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html?highlight=confusion_matrix#sklearn.metrics.confusion_matrix);  
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [25]:
import re
import nltk

In [26]:
spam = pd.read_csv('spam.csv')
spam.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [27]:
# 1) Привидите весь текст к нижнему регистру
spam['Message'] = [spam.lower() for spam in spam.Message]
# 2) Удалите мусорные символы
spam['Message'] = [re.sub('[\W_]+',' ', text) for text in spam['Message']]
spam['Message'] = [text.split() for text in spam['Message']]

In [28]:
nltk.download('stopwords')
nltk.download('wordnet')

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AI\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\AI\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [29]:
# 3) Удалите стоп-слова
stopwords_set = set(stopwords.words('english'))
spam['Message'] = spam['Message'].apply(lambda x: [word for word in x if word not in stopwords_set])
# 4) Привидите все слова к нормальной форме
spam['Message'] = spam['Message'].apply(lambda x: [WordNetLemmatizer().lemmatize(word) for word in x])

In [30]:
spam['Message'] = spam['Message'].apply(lambda x: ' '.join(x))
spam.head()

  Category                                            Message
0      ham  go jurong point crazy available bugis n great ...
1      ham                            ok lar joking wif u oni
2     spam  free entry 2 wkly comp win fa cup final tkts 2...
3      ham                u dun say early hor u c already say
4      ham                nah think go usf life around though

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [32]:
# 5) Преобразуйте все сообщения в вектора TF-IDF
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(spam['Message'])
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [34]:
# 6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split
x_train, x_test, y_train, y_test = train_test_split(tfidf_matrix, spam['Category'], test_size = 0.3, random_state = 42)

In [35]:
# 7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных
lr = LogisticRegression(random_state=42)
lr.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [36]:
print(f'Точность прогнозирования модели: {round(accuracy_score(y_test, lr.predict(x_test)) * 100)}%')

Точность прогнозирования модели: 96.0%

In [37]:
# 8) Опишите результаты при помощи confusion_matrix
confusion_matrix(y_test, lr.predict(x_test))

array([[1445,    3],
       [  66,  158]], dtype=int64)

Вывод: ошибка прогнозирования на тестовых данных 69 значений, что равно 4% от 1672, доказывая правильное поведение модели при точности прогнозирования 96%

In [38]:
# 9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного)
spam['Predict category'] = lr.predict(tfidf_matrix)
spam['Message'] = pd.read_csv('spam.csv')['Message']
spam_wrong = spam[ spam['Predict category'] != spam['Category']]
spam_wrong

,Category,Message,Predict category
5,spam,FreeMsg Hey there darling it's been 3 week's n...,ham
15,spam,"XXXMobileMovieClub: To use your credit, click ...",ham
19,spam,England v Macedonia - dont miss the goals/team...,ham
54,spam,SMS. ac Sptv: The New Jersey Devils and the De...,ham
56,spam,Congrats! 1 year special cinema pass for 2 is ...,ham
...,...,...,...
5449,spam,"Latest News! Police station toilet stolen, cop...",ham
5456,spam,For the most sparkling shopping breaks from 45...,ham
5466,spam,http//tms. widelive.com/index. wml?id=820554ad...,ham
5537,spam,Want explicit SEX in 30 secs? Ring 02073162414...,ham
5540,spam,ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...,ham

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам?
Прежде чем задать вопрос необходимо попробовать найти ответ самому в интернете. Навык самостоятельного поиска информации – один из важнейших, и каждый практикующий специалист любого уровня это делает каждый день.

Любой вопрос должен быть сформулирован по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности, прикрепляйте к вопросу скриншоты, либо ссылки на код. Оставляйте только проблемный и воспроизводимый участок кода, все решение выкладывать не допускается.